.table {
  padding: 0 !important;
  margin: 0;

  &-responsive {
    margin: 0;
  }

  & > caption {
    padding: 12px 0 !important;
  }

  &__title {
    margin: 10px !important;
  }

  &__header {
    font-size: 12px !important;
  }

  &__th {
    font-weight: normal !important;
  }

  .b-table-details {
    background: transparent !important;
    & > td {
      padding: 0 !important;
    }
  }
}

th:last-child {
  background-position: right calc(20px) center !important;
}

td:last-child {
  padding-right: 20px !important;
}

th {
  font-weight: 550 !important;
  height: 27px !important;
  line-height: 17px;
}

td {
  padding: 12px 20px !important;
}

@include _1199 {
  td {
    padding: 10px 0 !important;

    &:first-child {
      padding-left: 15px !important;
      width: 60px !important;
    }

    &:last-child {
      padding-right: 0 !important;
    }
  }
}

