.table {
  padding: 0!important;

  & > caption {
    padding: 20px;
  }

  &__title {
    margin: 0 !important;
  }

  &__header {
    font-size: 16px !important;
    font-weight:100!important;

  }
  &__th{
    font-weight: normal!important;
  }
}
.table__row{
  margin: 0px;
}
th{
  font-style: normal!important;
  font-weight: 500!important;
  font-size: 16px!important;
  line-height: 24px!important;
  color: #0083C7!important;
  padding: 12px 20px!important;
}
td{
  padding: 12px 20px!important;
}