$black0: #F7F8FA;
$black100: #E6EAEE;
$black200: #CBCED2;
$black300: #AAB0B9;
$black400: #8D96A2;
$black500: #7C838D;
$black600: #4C5767;
$black700: #353C47;
$black800: #1D2127;
$blue: #0083C7;
$blue100: #0083C71A;
$green: #00AA5B;
$red100: #fcebeb;
$red: #DF3333;
$yellow: #E8D20D;
$shade700: #2E3A59;
$white: #FFFFFF;
$grey: #E9EFF5;
$grey0: #c2c2c2;
$blue100: #E6F3F9;
